<body>

  <header>
    <div id="header-div">
      
      <ion-icon name="finger-print"></ion-icon>
  
      <ul>
        <li id="dep">LOGIN !</li>
      </ul>

    </div>
  </header>

  <nav>

    <img src="https://static.vecteezy.com/system/resources/previews/012/674/158/original/lock-icon-clipart-free-png.png" alt="Candado">

    <h2>Secure Access</h2>

  </nav>

  <article>
    
    <ion-segment value="buttons">
      <ion-segment-button value="default">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Register</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div>

      <h2>Username</h2>
      <h5>mateomiller1605@gmail.com</h5>
      <h2>Password</h2>
      <h5>*********</h5>

    </div>

    <button>Login Now</button>

  </article>

</body>