<body>

  <header>
    <div id="header-div">
      
      <ion-icon name="person"></ion-icon>
  
      <ul>
        <li id="dep">HI, SR. MILLER !</li>
      </ul>

    </div>
  </header>

  <nav>

    <ion-icon name="checkmark-circle"></ion-icon>

    <h2>$ 45</h2>

  </nav>

  <article>
    
    <div>

      <h2>Paid To:</h2>
      <h2>Mateo</h2>
      <h5>mateomiller1605@gmail.com</h5>
      <h2>Transaction ID</h2>
      <h5>1234 5678 90123 4567</h5>

      <div id="icon">

        <ion-icon name="planet"></ion-icon>
        <ion-icon name="qr-code" id="qr"></ion-icon>
  
      </div>

    </div>

    <button>Done</button>
    <button id="fin">Share Recipt</button>

  </article>

</body>