#header-div{
    padding: 1rem;  
    margin-top: 1rem;
}
ion-icon {
    font-size: 40px;
    margin-left: 1rem;
}
#dep{
    font-size: 80%;
}
#header-div ul{
    float: right;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: -0.5%;
    font-size: 120%;
    padding-right: 5%;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #D80032;
}
nav{
    background-color: #D80032;
}
nav img{
    height: 13rem;
    margin: 1rem 2rem;
}
nav ul{
    display: flex;
    padding-bottom: 1rem;
    margin-left: 1.5rem;
}
nav ul li{
    display: flex;
    margin-right: 2rem;

}
article{
    background-color: #ffffff;
    height: 50%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    color: #B4B4B3;
    padding-right: 1.5rem;
    padding-top: 0.4rem;
}
article img{
    height: 8rem;
    margin-left: 1rem;
    margin-top: 0.6rem;
}
article ul{
    float: right;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
article ul li{
    border: solid;
    height: 10rem;
    width: 10.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
}
#tres{
    margin-top: -0.5rem;
}






