<body>

  <header>
    <div id="header-div">
      
      <ion-icon name="menu-outline"></ion-icon>
  
      <ul>
        <li id="dep">Deposit</li>
        <li>USD  40.900</li>
      </ul>
  
    </div>
  </header>
  <nav>

    <img src="https://www.bancoguayaquil.com/static/7fc4f1c80364e35f69c78caf5c7a81c3/dd3b8/visa05.png" alt="Tarjeta">

    <ul>
      <li><ion-icon name="logo-bitcoin"></ion-icon></li>
      <li><ion-icon name="today"></ion-icon></li>
      <li><ion-icon name="clipboard"></ion-icon></li>
    </ul>


  </nav>
  <article>
    <ul>
      <li><img src="https://cdn-icons-png.flaticon.com/512/2709/2709774.png" alt="Estadistica"></li>
      <li><img src="https://images.vexels.com/media/users/3/263039/isolated/preview/65d10e0b15aaceac70599786dd3a693f-icono-de-negocio-al-atardecer-de-bitcoin.png" alt="Bit"></li>
    </ul>
    <ul id="tres">
      <li><img src="https://cdn-icons-png.flaticon.com/512/3349/3349622.png" alt="Cake"></li>
      <li><img src="https://www.pngmart.com/files/7/Statistics-PNG-Clipart.png" alt="Estadistica"></li>
    </ul>
  </article>
</body>