<body>

  <header>
    <div id="header-div">
      
      <ion-icon name="person-circle"></ion-icon>
  
      <ul>
        <li id="dep">HI, SR. MILLER</li>
      </ul>

      <p>mateomiller1605@gmail.com</p>
      
    </div>

    <ul>

      <li><ion-icon name="home"></ion-icon> <p>HOME</p></li>
      <li><ion-icon name="document-text"></ion-icon><p>TRANSACTION</p></li>
      <li><ion-icon name="wallet"></ion-icon><p>WALLET</p></li>
      <li><ion-icon name="card"></ion-icon><p>CARD</p></li>
      <li><ion-icon name="settings"></ion-icon><p>SETTINGS</p></li>
    
    </ul>

  </header>



</body>